.conteudos-page {
  padding: 40px 50px;
  background-color: #f4f4f4;
  min-height: 100vh;
}

.conteudos-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.header-left {
  display: flex;
  align-items: center;
  gap: 20px;
}

.icon-main-box {
  width: 60px;
  height: 60px;
  background-color: white;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
}

.header-left h1 {
  font-size: 32px;
  color: #333;
}
.header-left p {
  font-size: 16px;
  color: #666;
}

.search-container {
  display: flex;
  align-items: center;
  background: white;
  padding: 10px 15px;
  border-radius: 8px;
  border: 1px solid #ddd;
  width: 300px;
}

.search-container input {
  border: none;
  outline: none;
  margin-left: 10px;
  width: 100%;
}

.disciplinas-grid {
  display: grid;
  grid-template-columns: 400px 400px;
  gap: 30px;
}

.card-disciplina {
  background: white;
  padding: 24px;
  border-radius: 16px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}

.card-header-top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 20px;
}

.card-icon-box {
  width: 45px;
  height: 45px;
  background: #f0f0f0;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

.card-title {
  font-size: 22px;
  margin-bottom: 8px;
  color: #333;
}
.card-description {
  font-size: 14px;
  color: #777;
  margin-bottom: 20px;
  height: 40px;
}

.card-status-row {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 8px;
  color: #444;
}

.card-footer {
  margin-top: 15px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 5px;
  color: #20adcd;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
}
