.login-container {
  display: flex;
  height: 100vh;
}

.login-form-side {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: white;
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 350px;
  margin-top: 30px;
}

.form input {
  padding: 12px;
  margin: 10px 0 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.btn-entrar {
  background: #6c1199;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
}

.footer-text {
  margin-top: 20px;
  font-size: 0.9rem;
}
.footer-text a {
  color: #6c1199;
  text-decoration: none;
  font-weight: bold;
}
