.login-container {
  display: flex;
  height: 100vh;
}

.login-form-side {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: white;
}

.login-form-side h3 {
  font-size: 2.2rem;
  margin-bottom: 7px;
  background: linear-gradient(90deg, #471cb4, #5316a9, #6c1199, #a122e0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 350px;
  margin-top: 30px;
}

.form input {
  padding: 12px;
  margin: 10px 0 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.btn-entrar {
  background: #6c1199;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
}

.footer-text {
  margin-top: 20px;
  font-size: 0.8rem;
}
.footer-text a {
  color: #6c1199;
  text-decoration: none;
  font-weight: bold;
}
