
.disciplina-card {
  background: white;
  border: 1px solid #e0e0e0;
  border-radius: 16px;
  padding: 24px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.card-icon {
  background-color: #6c1199;
  color: white;
  width: 40px;
  height: 40px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.card-title {
  font-size: 1.2rem;
  margin-bottom: 10px;
  color: #333;
}

.card-description {
  color: #888;
  font-size: 0.9rem;
  line-height: 1.5;
}