.search-container-component {
  display: flex;
  align-items: center;
  background: white;
  padding: 10px 15px;
  border-radius: 8px;
  border: 1px solid #e0e0e0;
  width: 300px; /* Tamanho fixo em px */
}

.search-icon {
  color: #888;
  display: flex;
  align-items: center;
}

.search-input-field {
  border: none;
  outline: none;
  margin-left: 10px;
  width: 100%;
  font-size: 14px;
  color: #333;
}